<script>
    let innerHeight = 0;
</script>
<div class="container" style={`--innerHeight:${innerHeight}px; --font-size:${innerHeight*0.05}px;`}>
	<slot />
</div>
<svelte:window bind:innerHeight />

<style>
	:global(body) {
		padding: 0;
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
		overflow: hidden;
	}
    :global(body *) {
        box-sizing: border-box;
    }
	.container {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		user-select: none;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		touch-action: none;
	}
</style>
