<script>
    import Link from 'components/Link.svelte'
    import Typography from 'components/Typography.svelte'
</script>

<Typography>Ну, типа, прототип</Typography>

<Link href="/startturn">Погнали</Link>


