<script>
	import { teams, newGame } from 'store';
    import Typography from 'components/Typography.svelte'
	import Button from 'components/Button.svelte'
</script>

<Typography>Конец игры</Typography>
<Typography>
	Победила команда {teams[0] > teams[1] ? 1 : 2}
</Typography>
<Typography>Счет:</Typography>
<Typography>Команда 1: {$teams[0]}</Typography>
<Typography>Команда 2: {$teams[1]}</Typography>
<Button on:click={newGame}>Ну фсе</Button>
