<script>
	export let href;
</script>

<a {href}><slot /></a>

<style>
	a {
		background: #100e18;
		color: white;
		border: none;
		font-size: calc(var(--innerHeight) * 0.05);
		border-radius: 4px;
		padding: calc(var(--innerHeight) * 0.01) calc(var(--innerHeight) * 0.04);
		text-decoration: none;
	}
</style>
