<script>
	import drag from './drag';
	import { onMount } from 'svelte';
	import { questions, addScore, passTurn } from 'store';
	import Button from 'components/Button.svelte'

	const START = 'START';
	const SELECT = 'SELECT';
	const VIEW_RESULT = 'VIEW_RESULT';

	let values;
	let metr;
	let selector;
	let y = 50;
	let stage = START;
	let valuesY = 0;
	let result = 0;

	onMount(() => {
		const max = metr.getBoundingClientRect().height - values.getBoundingClientRect().height;
		valuesY = Math.floor(Math.random() * (max + 1));
	});
	const onDrag = (event) => {
		if (stage === SELECT) y = event.detail.y;
	};
	const viewResult = () => {
		const selectorPosition = selector.getBoundingClientRect();
		stage = VIEW_RESULT;
		selector.style.display = 'none';

		setTimeout(() => {
			const elem = document.elementFromPoint(20, selectorPosition.y);
			result = Number.isNaN(Number(elem.textContent)) ? 0 : Number(elem.textContent);
			addScore(result);
			selector.style.display = 'block';
		}, 10);
	};
</script>

<div class="header">
	{#if stage === START}
		Загадайте ассоциацию
	{:else if stage === SELECT}
		Выберите значение
	{:else if stage === VIEW_RESULT}
		Вы набрали {result} {result===0 ? 'баллов' : 'балла'}
	{/if}
</div>
<div class="question topQuestion">{$questions[0][0]}</div>
<div
	class="metr"
	bind:this={metr}
	use:drag
	on:dragSTART={onDrag}
	on:dragmove={onDrag}
	on:dragend={onDrag}
>
	{#if stage !== SELECT}
		<div bind:this={values} style={`top:${valuesY}px`} class="values">
			<div class="value value2">2</div>
			<div class="value value3">3</div>
			<div class="value value4">4</div>
			<div class="value value3">3</div>
			<div class="value value2">2</div>
		</div>
	{/if}
	{#if stage === SELECT || stage === VIEW_RESULT}
		<div class="selector" style={`top:${y}px;`} bind:this={selector} />
	{/if}
</div>
<div class="question bottomQuestion">{$questions[0][1]}</div>
<div class="bottomButton">
	{#if stage === START}
		<Button on:click={() => (stage = SELECT)}>Ок, я загадал</Button>
	{:else if stage === SELECT}
		<Button on:click={viewResult}>Мы определились</Button>
	{:else if stage === VIEW_RESULT}
		<Button on:click={passTurn}>Ясно-понятно</Button>
	{/if}
</div>

<style>
	.question {
		font-size: calc(var(--innerHeight) * 0.04);
		text-align: center;
		padding: calc(var(--innerHeight) * 0.02);
		width: 100%;
	}
	.topQuestion {
		background-color: #2f9a68;
		color: white;
		border-top-left-radius: calc(var(--innerHeight) * 0.04);
		border-top-right-radius: calc(var(--innerHeight) * 0.04);
	}
	.bottomQuestion {
		background-color: #876c8b;
		color: white;
		border-bottom-left-radius: calc(var(--innerHeight) * 0.04);
		border-bottom-right-radius: calc(var(--innerHeight) * 0.04);
	}
	.header {
		font-size: calc(var(--innerHeight) * 0.04);
		text-align: center;
		padding: calc(var(--innerHeight) * 0.02);
	}
	.values {
		position: absolute;
		width: 100%;
	}
	.selector {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: #ce1c35;
	}
	.metr {
		flex-grow: 1;
		position: relative;
		background-color: #f1e8da;
		width: 100%;
	}
	.value {
		text-align: center;
		font-size: calc(var(--innerHeight) * 0.01);
		padding: calc(var(--innerHeight) * 0.01);
	}
	.value2 {
		background-color: #fbc90e;
	}
	.value3 {
		background-color: #ff8037;
	}
	.value4 {
		background-color: #bbdae9;
	}
	.bottomButton {
		padding: 8px;
		display: flex;
		justify-content: center;
	}
	
</style>
