<script>
    import {activeTeam, teams} from 'store';
    import Link from 'components/Link.svelte'
    import Typography from 'components/Typography.svelte'
</script>
<Typography>
    ход команды {$activeTeam+1}
</Typography>
<Typography>
    Счет:
</Typography>
<Typography>Команда 1: {$teams[0]}</Typography>
<Typography>Команда 2: {$teams[1]}</Typography>
<Link href="/turn">Го</Link>